<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangzhixuan.mapper.ResourceMapper">
	<sql id="Base_Column_List">
		id, name, url, description, icon, pid, seq, status,
		resourcetype, crTime
	</sql>

	<select id="selectByUserId" resultType="Resource" parameterType="java.lang.Long">
		SELECT
		<include refid="Base_Column_List" />
		FROM resource A WHERE EXISTS (SELECT resourceId FROM (SELECT DISTINCT
		R.resourceId FROM role_resource R WHERE EXISTS (SELECT roleId FROM
		user_role U WHERE U.roleId=R.roleId AND U.userId=#{userId})) B
		WHERE A.id=B.resourceId)
	</select>

    <!-- 查询所有父菜单 -->
	<select id="findResourceAllByTypeAndPidNull" resultType="Resource"
		parameterType="java.lang.Integer">
		select distinct
		<include refid="Base_Column_List" />
		from resource
		where resourcetype = #{resourceType}
		and pid is null order
		by seq
	</select>

	<select id="findResourceAllByTypeAndPid" resultType="Resource">
		select distinct
		<include refid="Base_Column_List" />
		from resource
		where resourcetype = #{resourceType}
		and pid = #{pid}
		order by seq
	</select>

	<select id="findResourceAll" resultType="Resource">
		select
		<include refid="Base_Column_List" />
		from resource order by seq
	</select>
</mapper>