<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangzhixuan.mapper.RoleResourceMapper">
	<sql id="Base_Column_List">
		id, roleId, resourceId
	</sql>

	<select id="findRoleResourceIdListByRoleId" resultType="java.lang.Long"
		parameterType="java.lang.Long">
		SELECT
		e.id AS id
		FROM
		role r
		LEFT JOIN role_resource e ON r.id = e.role_id
		WHERE
		r.id = #{id}
	</select>
</mapper>