<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangzhixuan.mapper.UserMapper">
	<sql id="Base_Column_List">
		id, loginName, name, password, sex, age, type, status,
		orgId, phone, crTime
	</sql>

	<select id="findUserByLoginName" resultType="User"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user
		where loginname = #{username}
	</select>

	<select id="findUserVoById" resultType="UserVo"
		parameterType="java.lang.Long">
		SELECT
		t.id,
		loginName,
		t.`name`,
		`password`,
		sex,
		age,
		type,
		t.`status`,
		orgId,
		t.crTime,
		phone,
		s.`name` AS organizationName,
		o.id AS roleId,
		o.`name` AS roleName
		FROM
		user t
		LEFT JOIN user_role r ON t.id = r.userId
		LEFT JOIN role o ON r.roleId = o.id
		LEFT JOIN organization s ON s.id = t.orgId
		<where>
			t.id = #{id}
		</where>
	</select>

	<select id="findUserPageCondition" resultType="UserVo"
		parameterType="PageInfo">
		SELECT
		t.id,
		loginname,
		t.`name`,
		`password`,
		sex,
		age,
		type,
		t.`status`,
		organization_id,
		t.createdate,
		phone,
		s.`name` AS organizationName,
		o.id AS roleId,
		o.`name` AS roleName
		FROM
		user t
		LEFT JOIN user_role r ON t.id = r.user_id
		LEFT JOIN role o ON r.role_id = o.id
		LEFT JOIN organization s ON s.id = t.organization_id
		<where>
			<if test=" condition.name != null and condition.name != '' ">
				t.name = #{condition.name}
			</if>
			<if test=" condition.organizationId != null ">
				t.organization_id = #{condition.organizationId}
			</if>
			<if test="condition.startTime != null">
                <![CDATA[
            and t.createdate >= #{condition.startTime}
           ]]>
			</if>
			<if test="condition.endTime != null">
                <![CDATA[
            and t.createdate <= #{condition.endTime}
        ]]>
			</if>
		</where>
		LIMIT #{from}, #{size}
	</select>

	<select id="findUserPageCount" resultType="java.lang.Integer"
		parameterType="PageInfo">
		select count(*) count
		from user t
		<where>
			<if test=" condition.name != null and condition.name != '' ">
				t.name = #{condition.name}
			</if>
			<if test=" condition.organizationId != null ">
				t.organization_id = #{condition.organizationId}
			</if>
			<if test="condition.startTime != null">
                <![CDATA[
            and t.createdate >= #{condition.startTime}
           ]]>
			</if>
			<if test="condition.endTime != null">
                <![CDATA[
            and t.createdate <= #{condition.endTime}
            ]]>
			</if>
		</where>
	</select>

	<update id="updateUserPwdById">
		update user
		set password = #{pwd,jdbcType=VARCHAR},
		createdate = now()
		where id = #{userId,jdbcType=BIGINT}
	</update>
</mapper>