<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangzhixuan.mapper.UserRoleMapper">
	<sql id="Base_Column_List">
		id, userId, roleId
	</sql>

	<select id="findUserRoleByUserId" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		SELECT
		<include refid="Base_Column_List" />
		FROM user_role WHERE userId = #{userId}
	</select>

	<select id="findRoleIdListByUserId" resultType="java.lang.Long"
		parameterType="java.lang.Long">
		SELECT roleId FROM user_role WHERE userId = #{userId}
	</select>
</mapper>